#logo {
    width: 40px;
    height: 35px;
    align-content: center;
}

#navbar {
    background: linear-gradient(to right,rgb(204, 230, 255),rgb(255, 88, 78));
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: linear-gradient(to right,rgb(204, 230, 255 ),rgb(51, 153, 255));
    font-family: Arial, Helvetica, sans-serif;
}

#blah {
    position: static;
    align-content: center;
    width: 60%;
}

#schedule {
    position: static;
    align-content: center;
    width: 60%;
}
#address{
    position:center;
    align-content:center;
    border:1px solid white;
}
#footer{
   position:static;
   bottom:0;
   width:100%;
   height:60px;
}
