/**
 + * @fileapp.css
 + * @author Aristotle Rovithis & Karen Springford
 + * @version 0.0.2
 + * @desc holds custom CSS for the Sports Tracking App
 + */ 

/*For downgradeing the size of the logo to fit in the top corner*/
#logo {
    width: 40px;
    height: 35px;
    align-content: center;
}

/*Adds colour to the navbar*/
#navbar {
    background: linear-gradient(to right,rgb(204, 230, 255),rgb(255, 88, 78));
}

/*Changes the font of headings*/
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Changes the background of the body area and the font*/
body {
    background: linear-gradient(to right,rgb(204, 230, 255 ),rgb(51, 153, 255));
    font-family: Arial, Helvetica, sans-serif;
    background: url("/Assets/dogeball.jpeg") no-repeat right fixed;
     background-size:inherit;
}

/*also not sure what this does 2016.06.15*/
#schedule {
    position: static;
    align-content: center;
    width: 60%;
}

/*not sure what this is for 2016.06.16*/
#address{
    position:center;
    align-content:center;
    border:1px solid white;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .text-muted {
  margin: 20px 0;
}


/*Branding Colours
-------------------------------------------------- */
/*Google+ Red */
.google-plus-red
, a.google-plus-red:link
, a.google-plus-red:visited
, a.google-plus-red:hover
, a.google-plus-red:active {
    color: #d34836;
}

/*Facebook Blue*/
.facebook-blue
, a.facebook-blue:link
, a.facebook-blue:visited
, a.facebook-blue:hover
, a.facebook-blue:active {
    color:#3B5998;
}

/*Linkedin blue*/
.linked-in-blue
, a.linked-in-blue:link
, a.linked-in-blue:visited
, a.linked-in-blue:hover
, a.linked-in-blue:active{
    color:#0077B5;
}

/*Github Black*/
.github-black
, a.github-black:link
, a.github-black:visited
, a.github-black:hover
, a.github-black:active{
    color:#333;
}

/*Twitter Blue*/
.twitter-blue
, a.twitter-blue:link
, a.twitter-blue:visited
, a.twitter-blue:hover
, a.twitter-blue:active{
    color:#55acee;
}